
@import url('../fonts/Aleo-Bold.otf');
@import url('../fonts/Aleo-BoldItalic.otf');
@import url('../fonts/Aleo-Italic.otf');
@import url('../fonts/Aleo-LightItalic.otf');
@import url('../fonts/Aleo-Regular.otf');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,700,700i&display=swap&subset=cyrillic');

$brand-color:#ffcc00;
$text-color:#333333;
$gray: #898f8f;

$title-font:'Roboto', sans-serif;
$text-font: 'Raleway', sans-serif;
$btn-font: 'Open Sans', sans-serif;

