@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'slider';
* {
	box-sizing: border-box;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
}
html {
	height: 100%;
	background-color: grey;
}
body {
	min-height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
}
h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
}
.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url(../img/header.png);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;
	h1 {
		padding: 180px 0 0;
		text-transform: uppercase;
		margin: 0;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 10px;
		@media screen and (max-width: 980px) {
			padding-top: 60px;
		}
		@media screen and (max-width: 430px) {
			font-size: 1.5rem;
		}
	}
	h3 {
		padding: 0;
		margin: 0 0 45px;
		font-size: 1.4rem;
		text-transform: capitalize;
		word-spacing: 6px;
		letter-spacing: 8px;
		@media screen and (max-width: 430px) {
			font-size: 0.8rem;
		}
	}
	&__form {
		display: flex;
		justify-content: space-between;
		border: 2px solid #fff;
		min-width: 50%;
		margin: 0 auto;
		background-color: #fff;
		font-size: 16px;
		line-height: 0;
		@media screen and (max-width: 770px) {
			min-width: 70%;
		}
		@media screen and (max-width: 540px) {
			min-width: 85%;
		}
	}
	&__input {
		width: 75%;
		padding: 0;
		border: none;
		padding: 20px;
		font-size: .9rem;
		outline: none;
		padding: 10px;
	}
	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 25%;
		padding: 15px 25px;
		border: none;
		background-color: #5474fd;
		text-transform: uppercase;
		font-family: "Aleo";
		font-size: .9rem;
		overflow: hidden;
		margin: 0;
		text-align: center;
		@media screen and (max-width: 460px) {
			font-size: 0.7rem;
			padding: 5px 15px;
		}
		svg {
			margin-left: 5px;
			@media screen and (max-width: 1000px) {
				display: none;
			}
		}
		@include hover {
			background-color: rgba(0, 0, 0, .5);
			color: #fff;
			border: 2px solid #2e3974;
			fill: rgb(0, 0, 0);
		}
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: #5474fd;
		position: absolute;
		bottom: 0;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
	}
	&__list {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		align-items: center;
		@media screen and (max-width: 960px) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	&__span {
		display: flex;
		align-self: center;
		font-size: 1.8rem;
		text-transform: uppercase;
		@media screen and (max-width: 960px) {
			display: none;
		}
	}
	&__item {
		margin: 30px;
		list-style: none;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		@media screen and (max-width: 960px) {
			margin: 15px;
		}
		a {
			font-family: "Aleo";
			text-decoration: none;
			color: #fff;
			@media screen and (max-width: 560px) {
				font-size: 10px;
			}
		}
	}
	&__link {
		@include hover {
			color: rgba(0, 0, 0, .5);
		}
	}
	&__scroll {
		display: flex;
		flex-direction: column;
		margin: 100px 0 0;
		font-size: 14px;
		a {
			margin: 0 auto;
			padding-top: 10px;
			color: #fff;
			font-size: 15px;
			fill: #fff;
			@include hover {
				fill: rgba(0, 0, 0, .9);
			}
		}
	}
}
.select {
	display: flex;
	background-color: #333333;
	justify-content: space-between;
	span {
		font-size: 24px;
		text-align: center;
		@media screen and (max-width: 685px) {
			font-size: 16px;
		}
	}
	a {
		color: #4f6ade;
		font-size: 44px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px;
		font-family: "Aleo";
		font-size: 2.1rem;
		text-transform: capitalize;
		@media screen and (max-width: 540px) {
			padding: 15px;
		}
	}
}
.section-us {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-section.png);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	min-height: 685px;
	opacity: 0.9;
	background-color: red;
	@media screen and (max-width: 780px) {
		flex-direction: column;
		min-height: 100%;
	}
}
.section-left {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 50%;
	padding: 5px;
	@media screen and (max-width: 780px) {
		width: 100%;
		align-items: center;
		padding: 25px;
	}
	h2 {
		font-family: "Aleo";
		font-size: 2.1rem;
	}
	p {
		font-size: 16px;
	}
}
.section-right {
	position: relative;
	max-width: 50%;
	.img {
		position: absolute;
		max-width: 300px;
		padding: 5px;
		height: auto;
		overflow: hidden;
		@media screen and (max-width: 780px) {
			display: none;
		}
	}
	.left {
		top: 115px;
		left: 50px;
	}
	.right {
		top: 300px;
		left: 200px;
		@media screen and (max-width: 1160px) {
			left: 100px;
		}
		@media screen and (max-width: 940px) {
			left: 50px;
		}
	}
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 60px;
	background-color: #5474fd;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 50px;
	font-family: "Aleo";
	@include hover {
		background-color: #fff;
		color: #5474fd;
		border: 2px solid #5474fd;
	}
}
.page {
	padding: 0 10%;
}
.widget {
	display: flex;
	background-image: url(../img/rest.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px;
	@media screen and (max-width: 565px) {
		justify-content: center;
	}
	&__first {
		display: flex;
		flex-direction: column;
		max-width: 440px;
		background-color: rgb(0, 0, 0, );
		opacity: .9;
		padding: 20px;
		@media screen and (max-width: 660px) {
			align-items: center;
		}
		span {
			font-size: 15px;
		}
		h3 {
			font-size: 20px;
		}
		p {
			font-size: 15px;
		}
	}
}
.second {
	background-image: url(../img/rest2.png);
	background-position: center;
	background-repeat: no-repeat;
	justify-content: flex-end;
	@media screen and (max-width: 565px) {
		justify-content: center;
	}
}
.turist {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-section.png);
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	@media screen and (max-width: 860px) {
		padding-bottom: 20px;
	}
	&__img {
		min-width: 250px;
		height: auto;
		overflow: hidden;
		@media screen and (max-width: 565px) {
			max-width: 70%;
		}
	}
	h2 {
		font-size: 2.1rem;
		font-family: "Aleo";
		padding: 54px;
		@media screen and (max-width: 950px) {
			padding: 20px;
		}
		@media screen and (max-width: 420px) {
			padding: 5px;
		}
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 940px) {
			flex-direction: column;
		}
		blockquote {
			&::before {
				content: '"';
				color: blue;
			}
		}
		h3 {
			font-size: 20px;
			margin-left: 70px;
		}
	}
}
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #232323;
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0 0 35px 0;
		li {
			font-size: 15px;
			margin: 15px;
			a {
				i {
					color: #fff;
					@include hover {
						color: #5474fd;
					}
				}
			}
		}
	}
	p {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 15px;
	}
	h2 {
		padding-top: 100px;
		font-size: 24px;
		text-transform: uppercase;
		@media screen and (max-width: 940px) {
			padding-top: 30px;
		}
	}
}
.arc {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -30%);
		z-index: 0;
		background-image: url(../img/svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}